:root {
    --bg: #f4e5e5;
    --red: #d12323;
    --camera: black;
    --white: white;
}

* {
    margin: 0;
    padding: 0;
    background-color: var(--bg);
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    color: var(--red);
    font-size: 5rem;
    text-align: center;
}

p {
    font-family: 'Marck Script', cursive;
    color: var(--red);
    font-size: 2rem;
    text-align: center;
}

.main {
    padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: nowrap;
    flex-direction: column;
}

.camera {
    height: 10rem;
    width: 20rem;
    border-radius: 2rem;
    background-color: var(--camera);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cam-btn {
    height: 1rem;
    width: 1rem;
    background-color: var(--red);
    border-radius: 50rem;
    position: absolute;
    z-index: 30;
    top: 1rem;
    left: 1rem;
}

.top {
    height: 2rem;
    width: 10rem;
    background-color: var(--camera);
    border-radius: 5rem 5rem 0rem 0rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.small-top {
    height: 1rem;
    width: 8rem;
    background-color: var(--camera);
    border-radius: 5rem 5rem 0rem 0rem;
    animation: flash 3s infinite linear;
}

.switcheroo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.lens {
    height: 7rem;
    width: 7rem;
    background-image: linear-gradient(to left, var(--red), var(--white));
    border-radius: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: turn 1s infinite linear;
}

.inside-lens {
    height: 4rem;
    width: 4rem;
    background-color: var(--camera);
    border-radius: 50rem;
}

.image {
    height: 20rem;
    width: 20rem;
    background-image: url(images/m6_main-1666102580306.png);
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
}

.right {
    bottom: 0;
    right: 0;
    transform: scaleX(-1);
}

.left {
    bottom: 0;
    left: 0;
}

.bottom {
    height: 20rem;
    position: relative;
}
@keyframes turn {
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

@keyframes flash {
    0%, 100%{
        background-color: var(--camera);
        box-shadow: none;
    }
    92%{
        background-color: var(--camera);
        box-shadow: none;
    }
    99%{
        background-color: var(--red);
        box-shadow: 1px 1px 30px 30px var(--red);
    }
}

@media screen and (max-width: 60rem)  {
    h1 {
        font-size: 3rem;
    }
}